<!-- ep. 88-4:20, excute and explain a hint of $event -->
<app-header (featureSelected)="onNavigate($event)"></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-recipes *ngIf="loadedFeature === 'recipe'" ></app-recipes>
      <app-shopping-list *ngIf="loadedFeature !== 'recipe'" ></app-shopping-list>
    </div>
  </div>
</div>

<!-- BLUEPRINT -->

<!-- <div class="container"> ROOT
  <div class="row"> Header

    <div class="col-xs-12">Shopping List
      <div>shopping list</div>
      <div>shopping list item</div>
      <div>ingredient</div>
    </div>

    <div class="col-xs-12">Recipe Book
      <div>recipe list</div>
      <div>recipe item</div>
      <div>recipe detail</div>
      <div>recipe</div>
    </div>

  </div>
</div> -->